NODE_ENV=development

# Backend
PORT=8080
MONGODB_URI=mongodb://localhost:27017/robot-fleet-dashboard
WORKERS=4

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_DASHBOARD_WS_URL=ws://localhost:8080/dashboard

# Robot simulator
SIMULATOR_WS_URL=ws://localhost:8080
SIMULATOR_ROBOT_COUNT=10
SIMULATOR_INTERVAL_MS=2000
